.title-section {
  font-size: 56px;
  font-weight: map-get($map: $font-weight, $key: bold);
  margin-bottom: 20px;
}
.description-drinks-category {
  font-size: $font-size-lg;
  font-weight: map-get($map: $font-weight, $key: normal);
  color: rgba(51, 51, 51, 0.501557);
}
.title__section {
  @include allfont(map-get($font-weight,bold),64px,88px,map-get($colors,white))
}
